<html>
<head>
  <title>Firebase Login</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet" />
  <link rel="stylesheet" href="loginStyle.css" />
</head>
<body>

  <div id="login_div" class="main-div">
    <h3>Firebase Web login</h3>
    <input type="email" placeholder="Email..." id="email_field" />
    <input type="password" placeholder="Password..." id="password_field" />

    <button onclick="login()">Login to Account</button>
    <br/>
    <button onclick="create_account()">Create an Account</button>
  </div>

  <div id="user_div" class="loggedin-div">
    <h3>Welcome User</h3>
    <p id="user_para">Welcome to Firebase web login. You're currently logged in.</p>
    
    <br/>
    
    <button onclick="startDraw()">Start Drawing</button>
    <br/>
    <!--<button onclick="create_account()">Create an Account</button>-->
    
    
    <button onclick="logout()">Logout</button>
  </div>



  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

  
  
  
  
  
    <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyD7lQAINOU89vzFzxeJhmF71N5G09M5DzQ",
                authDomain: "ist440-1f824.firebaseapp.com",
                databaseURL: "https://ist440-1f824.firebaseio.com",
                projectId: "ist440-1f824",
                storageBucket: "",
                messagingSenderId: "748820595458"
            };
            firebase.initializeApp(config);
        </script>

  
  
  
  
  
  <script src="loginScript.js"></script>

</body>
</html>
