<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <title>Draw</title>
        <link rel="stylesheet" type="text/css" href="viewimg.css"></link>
    </head>
    <body>
        <div class="top-bar">
       
            
            
            
            <h3 id='currentroomid'>Current Room ID: NA</h3>
        </div>
        
        <div class="container" id="contentHolder"></div>

       
        
        
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD7lQAINOU89vzFzxeJhmF71N5G09M5DzQ",
    authDomain: "ist440-1f824.firebaseapp.com",
    databaseURL: "https://ist440-1f824.firebaseio.com",
    projectId: "ist440-1f824",
    storageBucket: "ist440-1f824.appspot.com",
    messagingSenderId: "748820595458"
  };
  firebase.initializeApp(config);
</script>

  

        
        
        
        
        
        <link href="test.json"> </link>
        <script src="jquery.min.js"></script>
        <script src="viewimg.js"></script>
    </body>
</html>
