body {
    margin: 0;
}


*{margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif;}


.top-bar {
    display: flex;
    flex-direction: row;
    background-color: #3af;
    border-bottom: 2px solid black;
    /*position: absolute;*/
    width: 100%;
}

.top-bar * {
    margin: 5px 10px;
}

#draw {
    display: block;
}


button:hover {
    opacity: 0.8;
}


.col-lg-4{
/*    width: 200px;
    height: 200px;
    */
}

.contentImage{
    
       padding:1px;
   border:1px solid #021a40;
   /*background-color:#ff0;*/
   display:block;
    margin:auto;
    
  width: 655px;
  height: 655px;

}

.row{
    
    /*width: 655px;*/
  width: 655px;
  height: 655px;
    margin: 0 auto;
}

.contentCaption{
    text-align: center;
line-height: 100px;
    
}